#Docker Work na BSDK

name: Ultroid Workflow

on:
    push:
      paths:
        - "loop.txt"
    workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
       - name: Checkout
         uses: actions/checkout@main
       
       - uses: styfle/cancel-workflow-action@0.9.0
         name: "Cancel duplicate workflow runs"
         with:
            all_but_latest: true
            access_token: ${{ github.token }}
       - name: initialization
         continue-on-error: true
         run: |
           git config --global user.name the-theta
           git config --global user.email 80995167+the-theta@users.noreply.github.com
           git config --global credential.helper store
           echo "https://the-theta:${{ secrets.GH_TOKEN }}@github.com" > ~/.git-credentials
       - name: cloning repo
         continue-on-error: true
         run: |
           wget https://raw.githubusercontent.com/TeamUltroid/Ultroid/dev/Dockerfile
           wget -O .env ${{ secrets.ENV_FILE }}
       - name: Running Ultroid
         timeout-minutes: 340
         continue-on-error: true
         run: sudo sh action.sh
         env:
           SESSION: ${{ secrets.SESSION }}
       - name: Loop workflow
         continue-on-error: true
         run: |
              git clone https://github.com/the-theta/ultroid-wf-example loop
              cd loop || exit 1
              echo $(date -u +%T%P) >> loop.txt
              git add loop.txt
              git commit -m "Workflow : Loop $(date -u +%D-%T%P)"
              git push -q https://${{ secrets.GH_TOKEN }}@github.com/${GITHUB_REPOSITORY} HEAD:main
